#map-wrapper {
    width: 800px;
    height: 700px;
    background-color: blue;
}

#car-details-wrapper {
    width:300px;
}

#map-wrapper,
#car-details-wrapper {
    float: left;
}

.form-control[readonly] {
    background-color: #fff;
}
